.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  background-color: #97796b;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.container > * {
  flex: 1 100%;
}

.container-variant-loading {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 85vh;
  border-radius: 15px;
  background-color: #2C3539;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #edd16b;
  height: 4%;
  width: 98%;
  padding: 1%;
  border-radius: 3px;
  top: 0%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.7vmin);
  font-weight: bold;
  color: #4e3e34;
}

.App-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#App-footer {
  display: flex;
  flex-flow: wrap;
  margin-top: -7%;
  flex: 1;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.row {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.App-laps {
  display: flex;
  order: 1;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

div#welcome-msg {
  color: #f3edea;
  display: inline-flex;
  position: relative;
  font-size: 16px;
  font-weight: bolder;
  border: solid 2px #fab1a0;
  border-radius: 4px;
  background-color: #4e3e34;
  box-shadow: 2px 2px #fab1a0;
  width: 78%;
  padding: 2%;
  align-items: center;
  justify-content: center;
  margin-top: 18%;
}

div#door-state {
  display: inline-flex;
  position: relative;
  float: top;
  margin-top: 5%;
  padding-bottom: 5%;
  color: #f3edea;
  align-items: center;
  justify-content: center;
}

#tp-timer-tx {
  /* blog bit here -- fixing my divs from shifting on timer component rendering */
  min-height: 207.5px;
  width: 100%;
}

h4#chart-title {
  color: #4e3e34;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  padding-bottom: 3%;
  margin-top: -9%;
}

#chart {
  display: flex;
  flex: 5 5 15em;
  justify-content: center;
  padding: 5%;
  margin-top: -20%;
  margin-left: -14%;
  margin-right: 0%;
}
/* working on responsive design  */
@media only screen and (min-width: 768px) {
  #chart {
    margin-top: -7%;
    padding: 2%;
    margin-left: -8%;
    margin-right: -5%;
  }
  img#tp-img {
    margin-top: -15%;
  }
}

#links-span {
  display: -webkit-flex;
  flex: 5 5;
  margin-top: 8%;
  justify-content: center;
  align-content: center;
}

#pee {
  color: #edd16b;
}

#poop {
  color: #4e3e34;
}

#footer-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  position: relative;
  box-shadow: 0;
  background-color: #4e3e34;
  border-radius: 4px;
  margin-left: -1%;
  padding-top: 4px;
  padding-bottom: 1%;
  border-color: #4e3e34;
  order: 1;
  flex: 1;
  align-items: flex-start;
  justify-content: left;
  float: left;
}

#footer-text {
  display: inline-flex;
  position: relative;
  color: #ffeaa7;
  font-size: 13px;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}

#loading-icon {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
}

span#links-span {
  display: inline-flex;
  position: relative;
  align-content: space-between;
  justify-content: space-evenly;
  align-items:flex-end;
  padding-top: 2%;
}

#copyright-text {
  color: #fab1a0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  float: bottom;
  margin-top: 2%;
}

img#balloon {
  display: inline-flex;
  justify-content: left;
  height: 17px;
  width: 19px;
}

img#tp-img {
  display: inline-flex;
  position: relative;
  height: 225px;
  margin-top: -15%;
  margin-right: -0%;
  max-width: 100%;
  align-items: baseline;
  justify-content: baseline;
}

img#no-chart-img {
  display: inline-flex;
  position: relative;
  height: 105px;
  max-width: 100%;
  padding: 3%;
  padding-bottom: 7%;
  align-items: center;
  justify-content: center;
}

img#footer-logo {
  display: inline-flex;
  height: 40px;
  margin-bottom: -7%;
  align-items: center;
}

img#octocat {
  display: inline-flex;
  position: relative;
  flex: 1;
  align-content: center;
  justify-content: center;
  height: 20px;
  float: center;
}

img#ramen-pack {
  height: 20px;
  display: inline-flex;
  flex: 1;
  position: relative;
  align-content: center;
  justify-content: center;
}

#no-chart-txt {
  margin-top: -12%;
  color: #fdcb6e;
}

body {
  background-color: #282c34;
  overflow: auto;
  justify-content: center;
}

div {
  height: 100%;
  width: 100%;
}
