ReactTable.rt-head {
  color: red;
  overflow-y: scroll;
}

#scroll-tbl {
  color: #f3edea;
  overflow-y: scroll;
}

/* 
#laptimes-table {
  /* display: block; */
/* position: relative; */
/* float: bottom; */
/* align-content: center; */
/* padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 3%; 
} */
