.time-elapsed {
  display: block;
}

.time-elapsed #minutes {
  color: #b33939;
  font-size: 45px;
}

#seconds {
  color: #ffeaa7;
  font-size: 36px;
}

#milseconds {
  color: #fab1a0;
  font-size: 18px;
}
