.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #58b19f;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #d1d8e0;
}

.App-link {
  color: #61dafb;
}

div#door-state {
  display: inline-flex;
  position: relative;
  float: top;
  padding-top: 5%;
  color: #b2bec3;
}

#chart {
  display: flex;
  float: center;
  margin-left: 3%;
  margin-top: 5%;
}

#pee {
  color: #fed330;
}

#poop {
  color: #593001;
}

body {
  background-color: #282c34;
  overflow: auto;
}
