.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #58b19f;
  height: 3%;
  width: 100%;
  padding: 1%;
  top: 0%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1.7vmin);
  color: #eb2f06;
}

.App-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.row {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.App-laps {
  display: flex;
  order: 1;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

div#door-state {
  display: inline-flex;
  position: relative;
  float: top;
  padding-top: 8%;
  padding-bottom: 5%;
  color: #b2bec3;
  align-items: center;
  justify-content: center;
}

#tp-timer-tx {
  /* blog bit here -- fixing my divs from shifting on timer component rendering */
  min-height: 207.5px;
  width: 100%;
}

#chart {
  display: flex;
  flex: 5 5 15em;
  justify-content: center;
  padding: 3%;
  margin-top: -10%;
  margin-left: -10%;
  margin-right: 3%;
}

#pee {
  color: #fed330;
}

#poop {
  color: #593001;
}

img#tp-img {
  display: inline-flex;
  position: relative;
  height: 125px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #282c34;
  overflow: auto;
  justify-content: center;
}

div {
  height: 100%;
  width: 100%;
}
